<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus" value="https://nexus.qaybe.de/repository/nuget-group/" protocolVersion="d" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSourceCredentials  >
    <nexus>
      <add key="Username" value="Jenkins" />
      <add key="Password" value="9iBze!AlUw-tyE-9yIGL!DcW" />
    </nexus>
  </packageSourceCredentials>

</configuration>